In [17]:
#Clean tweet data
import spacy
import pandas as pd
import re

In [94]:
df = pd.read_csv("data/train.csv")

In [95]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
# First thing I want to do is see how spacy deals with urls
nlp = spacy.load("en_core_web_md")

In [36]:
url_ex = df[df['id'] == 519].iloc[0,3]

In [37]:
doc = nlp(url_ex)

In [38]:
doc

VICTORINOX SWISS ARMY DATE WOMEN'S RUBBER MOP WATCH 241487 http://t.co/yFy3nkkcoH http://t.co/KNEhVvOHVK

In [39]:
for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

VICTORINOX SWISS ARMY 0 21 ORG
241487 52 58 CARDINAL
http://t.co/yFy3nkkcoH http://t.co/KNEhVvOHVK 59 104 PERSON

In [22]:
#Thanks to https://stackoverflow.com/questions/24399820/expression-to-remove-url-links-from-twitter-tweet 
re.search(r"http\S+", url_ex)

In [44]:
sample = df.sample(10)

In [45]:
sample.head()

,id,keyword,location,text,target
6595,9446,terrorism,everywhere,News786-UK Islamist Cleric Anjem Choudary Char...,1
1744,2510,collision,Sacramento,South Sac Florin Rd / Franklin Blvd **Trfc Col...,1
1374,1981,bush%20fires,NaN,Ted Cruz fires back at Jeb &amp; Bush: ÛÏWe l...,0
3878,5515,flattened,Chicago,the road to success is paved with pennies that...,0
2202,3155,deluge,CT ? NYC,@joshsternberg My feed seems to have a deluge ...,0

In [46]:
sample['url_present'] = sample['text'].apply(lambda x: re.search(r"http\S+", x)) # works well at collecting urls

In [47]:
sample

,id,keyword,location,text,target,url_present
6595,9446,terrorism,everywhere,News786-UK Islamist Cleric Anjem Choudary Char...,1,"<re.Match object; span=(71, 93), match='http:/..."
1744,2510,collision,Sacramento,South Sac Florin Rd / Franklin Blvd **Trfc Col...,1,"<re.Match object; span=(65, 87), match='http:/..."
1374,1981,bush%20fires,NaN,Ted Cruz fires back at Jeb &amp; Bush: ÛÏWe l...,0,"<re.Match object; span=(108, 130), match='http..."
3878,5515,flattened,Chicago,the road to success is paved with pennies that...,0,None
2202,3155,deluge,CT ? NYC,@joshsternberg My feed seems to have a deluge ...,0,None
7385,10568,windstorm,NaN,NW Michigan #WindStorm (Sheer) Recovery Update...,1,"<re.Match object; span=(112, 134), match='http..."
163,237,airplane%20accident,92,#OMG! I don't believe this. #RIP bro\n#AirPlan...,1,"<re.Match object; span=(90, 112), match='http:..."
4411,6271,hijacking,NaN,@Drsarwatzaib070 come on. IK will face MCourt ...,1,None
1070,1545,bomb,Australia,New Documents Found Pointing To Japan's WWII A...,1,"<re.Match object; span=(65, 87), match='http:/..."
4503,6400,hurricane,@potteratthedisc,Hurricane 30STM quem lembra,1,None

In [32]:
#but what we really want to do is remove the urls
list(sample.text)

["There's a big storm brewing dark clouds thunder and rain carrying thick dust. This could be interesting.",
 'I Hate To Talking Otp With My Grandma... I Mean I Love Her As To Death But She Talk So Damn Much Ssshhheeesshh!!! ??????',
 "VICTORINOX SWISS ARMY DATE WOMEN'S RUBBER MOP WATCH 241487 http://t.co/yFy3nkkcoH http://t.co/KNEhVvOHVK",
 '#Thorium Radioactive Weapons. Scandals murders and environmental devastation: - VIDEO http://t.co/mly7sDN6eV',
 'What Dems do. Blaze covered months ago.Chicago police detained thousands of black Americans at interrogation facility http://t.co/UWItVBsbnC',
 'Be annihilated for status education mba on behalf of a on easy street careen: eOvm http://t.co/e0pI0c54FF',
 'Hello Calgary!! Important news!! Please be advised!!! http://t.co/ARKTJ9Qn4S',
 'ball has no curfew https://t.co/SG1FTKaEgq',
 '@_PokemonCards_ @IceQueenFroslas why did they have to wreck it with ON SALE HERE ;-;',
 'Transportation panel showing a video of a pileup of 18-wheelers in a snowstorm in WY. Crash crash crash \x89ÛÏMake it stop!\x89Û\x9d #AMSsummer']

In [33]:
sample['text'] = sample['text'].apply(lambda x: re.sub(r"http\S+"," ", x)) # replaces url with whitespace

In [34]:
list(sample.text)

["There's a big storm brewing dark clouds thunder and rain carrying thick dust. This could be interesting.",
 'I Hate To Talking Otp With My Grandma... I Mean I Love Her As To Death But She Talk So Damn Much Ssshhheeesshh!!! ??????',
 "VICTORINOX SWISS ARMY DATE WOMEN'S RUBBER MOP WATCH 241487    ",
 '#Thorium Radioactive Weapons. Scandals murders and environmental devastation: - VIDEO  ',
 'What Dems do. Blaze covered months ago.Chicago police detained thousands of black Americans at interrogation facility  ',
 'Be annihilated for status education mba on behalf of a on easy street careen: eOvm  ',
 'Hello Calgary!! Important news!! Please be advised!!!  ',
 'ball has no curfew  ',
 '@_PokemonCards_ @IceQueenFroslas why did they have to wreck it with ON SALE HERE ;-;',
 'Transportation panel showing a video of a pileup of 18-wheelers in a snowstorm in WY. Crash crash crash \x89ÛÏMake it stop!\x89Û\x9d #AMSsummer']

In [42]:
def process_tweet(tweet):
    '''
    Processes our tweets. Needed because some tweets are showing up as 
    duplicates with slightly different url addresses
    
    tweet -- (String)
    '''
    
    # remove any urls
    updated_tweet = re.sub(r"http\S+"," ", tweet).rstrip()
    
    return updated_tweet

In [43]:
process_tweet(url_ex)

"VICTORINOX SWISS ARMY DATE WOMEN'S RUBBER MOP WATCH 241487"

In [57]:
sample2 = df[df['id'].isin([349,355, 356, 360, 370, 381, 384, 393, 394])]

In [58]:
list(sample2.text)

['U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... http://t.co/6LoJOoROuk via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... https://t.co/m8MvDSPJp7 via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... https://t.co/sW1sBua3mN via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... http://t.co/KPQk0C4G0M via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... https://t.co/MatIJwkzbh via @Change',
 'Stop the Annihilation of the Salt River Wild Horses! http://t.co/wVobVVtXKg via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... https://t.co/x2Wn7O2a3w via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... https://t.co/0fekgyBY5F via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse... http://t.co/SB5R7ShcCJ via @Change']

In [59]:
sample2['text'] = sample2['text'].apply(lambda x: process_tweet(x))

/Users/tejasphaterpekar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
list(sample2.text)

['U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'Stop the Annihilation of the Salt River Wild Horses!   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change',
 'U.S National Park Services Tonto National Forest: Stop the Annihilation of the Salt River Wild Horse...   via @Change']

In [96]:
#validation of function
proc = pd.read_csv("data/processed_train.csv")

In [97]:
proc[proc['id'] == 519].iloc[0,3]

"VICTORINOX SWISS ARMY DATE WOMEN'S RUBBER MOP WATCH 241487"

In [98]:
proc

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
6965,10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1
6966,10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1
6967,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
6968,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
6969,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1

# Moving on to dealing with duplicates

In [93]:
duplicate_ids = list(proc[proc.duplicated(subset = ['text'])]['id']) # gets us ids for all entries that have a duplicate pair

291

In [89]:
proc[proc.duplicated(subset = ['text']) != True]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7601,10859,NaN,NaN,#breaking #LA Refugio oil spill may have been ...,1
7602,10860,NaN,NaN,a siren just went off and it wasn't the Forney...,1
7603,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1

For now, I'm gonna keep it simple and simply delete any duplicates. I am fully aware that some duplicates have inconsistent target labelling so I could do something more intricate here like take all duplicates and assign a majority target before dropping duplicate.