In [26]:
# wanted to look at doc similarity for all entries, but realized this is way too expensive of a process; gonna 
# have to think of another way
import spacy
import pandas as pd
import numpy as np
from itertools import product

In [9]:
df = pd.read_csv("data/processed_train.csv")

In [10]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [14]:
nlp = spacy.load("en_core_web_md")

In [15]:
def vectorize(item):
    doc = nlp(item)
    return doc.vector

In [16]:
df_vectorized = pd.DataFrame(np.vstack([vectorize(entry) for entry in df.text]))

In [17]:
str_1 = nlp("The dog")
str_2 = nlp("The cat")

In [18]:
str_1.similarity(str_2)

0.8926759142546712

In [19]:
str_1

The dog

In [21]:
def document(item):
    doc = nlp(item)
    return doc

In [22]:
df['text'] = df['text'].apply(lambda x: document(x))

In [23]:
df['text2'] = df['text']

,id,keyword,location,text,target,text2
0,1,NaN,NaN,"(Our, Deeds, are, the, Reason, of, this, #, ea...",1,"(Our, Deeds, are, the, Reason, of, this, #, ea..."
1,4,NaN,NaN,"(Forest, fire, near, La, Ronge, Sask, ., Canada)",1,"(Forest, fire, near, La, Ronge, Sask, ., Canada)"
2,5,NaN,NaN,"(All, residents, asked, to, ', shelter, in, pl...",1,"(All, residents, asked, to, ', shelter, in, pl..."
3,6,NaN,NaN,"(13,000, people, receive, #, wildfires, evacua...",1,"(13,000, people, receive, #, wildfires, evacua..."
4,7,NaN,NaN,"(Just, got, sent, this, photo, from, Ruby, #, ...",1,"(Just, got, sent, this, photo, from, Ruby, #, ..."
...,...,...,...,...,...,...
6965,10859,NaN,NaN,"(#, breaking, #, LA, Refugio, oil, spill, may,...",1,"(#, breaking, #, LA, Refugio, oil, spill, may,..."
6966,10860,NaN,NaN,"(a, siren, just, went, off, and, it, was, n't,...",1,"(a, siren, just, went, off, and, it, was, n't,..."
6967,10862,NaN,NaN,"(Officials, say, a, quarantine, is, in, place,...",1,"(Officials, say, a, quarantine, is, in, place,..."
6968,10864,NaN,NaN,"(on, the, flip, side, I, 'm, at, Walmart, and,...",1,"(on, the, flip, side, I, 'm, at, Walmart, and,..."
6969,10866,NaN,NaN,"(Suicide, bomber, kills, 15, in, Saudi, securi...",1,"(Suicide, bomber, kills, 15, in, Saudi, securi..."

In [ ]:
#https://www.geeksforgeeks.org/pandas-all-combinations-of-two-columns/
# not even gonna try this --> would create 24 million values
list(product(df['gents'], df['ladies']))